* {
    margin: auto;
}

header {
    margin-top: 80px;
    text-align: center;
    font-size: larger;
}

#time {
    padding-bottom: 20px;
    border-bottom: solid;
}

.container {
    display:flex;
    margin-top: 50px;
    
}

#am {
   border: solid;
   float: left;
   margin-right: 0;
   height: 100px;
   width: 140px;
   text-align: center;
   

}

input {
    display: flex;
    width: 1000px;
    height: 100px;
    margin-right: 0;
    margin-left: 0;
    border: none;
}
button {
    float: right;
    height: 100px;
    width: 150px;
    margin-left: 0px;
    font-size: 50px;
    background-color: rgb(56, 133, 179);
    border: 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}